@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="section container">
    <h2>Sticker Wall</h2>
    <p>Skate. Punk. Guitar. Some things just stick.</p>

    <div class="sticker-wall">
        <img src="~/stickers/thrash.png" alt="Thrash sticker" class="sticker" />
        <img src="~/stickers/vans.png" alt="Vans sticker" class="sticker" />
        <img src="~/stickers/powell.png" alt="Powell Peralta sticker" class="sticker" />
        <img src="~/stickers/skate.png" alt="Skate sticker" class="sticker" />
        <img src="~/stickers/punk.png" alt="Punk sticker" class="sticker" />
        <img src="~/stickers/nofx.png" alt="NOFX sticker" class="sticker" />
        <img src="~/stickers/blink.png" alt="Blink sticker" class="sticker" />
    </div>
</div>

<link rel="stylesheet" href="~/css/stickers.css" />
